.contact__list {
  list-style: none;
}

.contact__item {
  color: #f5f4fa;
  font-size: 20px;
  font-weight: 500;
}

.contact__btn {
  border-radius: 4px;
  margin-top: 10px;
  margin-left: 10px;
  border: transparent;
  padding: 5px 10px;
  color: #1e90ff;
  font-size: 20px;
  cursor: pointer;
  background: #f5f4fa;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-transform: capitalize;
}

.contact__btn:hover,
.contact__btn:focus {
  background-color: #1e90ff;
  color: #f5f4fa;
}
